@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    font-family: 'Maven Pro', sans-serif ;
}

.BodyPage{
    width: 100%;
    height: 100%;
}
/*---- NavBar ----*/
.Hamburger{
    position: absolute;
    left: 1%;
    top: 3%;
    display: none;
    cursor: pointer;
}
.EachLine{
    width: 32px;
    height: 3.5px;
    background-color: #000;
    margin: 4px;
    padding: 0;
}
.NavbarSection{
    width: 100%;
    height: 72px;
    box-shadow: 0px 1px 0px rgba(196, 205, 213, 0.3);
}
.BackArrow{
    font-size: 25px;
    margin: 25px 0 10px 34px;
    cursor: pointer;
}
.NavbarText1{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #8391A7;
    position: absolute;
    width: 120px;
    height: 20px;
    left: calc(9% - 97px/2);
    top: calc(1% - 20px/2);
}
.NavbarText2{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #1C2C40;
    position: absolute;
    width: 94px;
    height: 28px;
    left: calc(9% - 94px/2);
    top: calc(3.5% - 28px/2);
}
/*----------*/
/* -- Responsivness for Navbar --*/
@media screen and (max-width:1024px){
    .NavbarSection{
        width: 100vw;
    }
    .BackArrow{
        margin: 25px 0 10px 70px;
    }
    .NavbarText1{
        left: calc(18% - 97px/2);
    }
    .NavbarText2{
        left: calc(18% - 94px/2);
        top: calc(3.3% - 28px/2);
    }
    .Hamburger{
        display: block;
    }
}
@media screen and (max-width:768px){
    .NavbarSection{
        width: 100vw;
    }
    .Hamburger{
        top: 2%;
    }
    .BackArrow{
        margin: 25px 0 10px 80px;
    }
    .NavbarText1{
        left: calc(23% - 97px/2);
    }
    .NavbarText2{
        left: calc(22.8% - 94px/2);
        top: calc(3% - 28px/2);
    }
}
@media(max-width:502px){
    .Hamburger{
        top: 3.5%;
    }
    .NavbarText1{
        left: calc(33% - 97px/2);
    }
    .NavbarText2{
        left: calc(32.8% - 94px/2);
    }
}
@media screen and (max-width:414px){
    .Hamburger{
        top: 3%;
    }
    .BackArrow{
        margin: 25px 0 10px 60px;
    }
    .NavbarText1{
        left: calc(37% - 97px/2);
    }
    .NavbarText2{
        left: calc(36.8% - 94px/2);
    }
}
@media(max-width:360px){
    .Hamburger{
        top: 3%;
    }
    .BackArrow{
        font-size: 20px;
    }
    .NavbarText1{
        font-size: 12px;
        left: calc(42% - 97px/2);
    }
    .NavbarText2{
        left: calc(40.8% - 94px/2);
    }
}
/*---------*/


/*---- */
.MainSectionDiv{
    position: absolute;
    top: 10%;
    left: 0%;
    margin-bottom: 0;
}
@media(max-width:1024px){
    .MainSectionDiv{
        width: 100vw;
    }
}
@media(max-width:768px){
    .MainSectionDiv{
        width: 100vw;
    }
}
@media(max-width:414px){
    .MainSectionDiv{
        width: 100vw;
    }
}
/*--- Aside Section ---*/
.AsideSection{
    position: absolute;
    height: 92vh;
    width: 255px;
    background: #01081F;
    transition: ease-in-out 0.6s;
}
.AsideSectionForHamburger{
    position: absolute;
    left: -120%;
    z-index: 7;
    height: 90vh;
    width: 260px;
    background: #01081F;
    transition: ease-in-out 0.6s;
}
.AsideSectionListForHamburger{
    position: absolute;
    top: 3%;
}
.AsideSectionList{
    position: absolute;
    top: 3%;
}
.ListElement{
    width: 240px;
    height: 40px;
    position: relative;
    padding-left: 20px;
    padding-top: 13px;
    left: -12%;
    cursor: pointer;
    list-style: none;
}
.SelectedAsideElement{
    width: 220px;
    height: 40px;
    position: relative;
    padding-left: 20px;
    padding-top: 13px;
    left: -12%;
    cursor: pointer;
    list-style: none;
    background-color: #151C32;
    border-left: solid 6px blue;
}
.ListElementLink{
    margin: 18px 58px 10px 0px;
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #8391A7;
}
/*---------*/
/*-- Aside Section Responsivness -- */
@media screen and (max-width:1024px){
    .AsideSection{
        display : none
    }
}

/*-------------*/


/*--- Main section  ---*/
.Container{
    position: relative;
    top: 0%;
    left: 20%;
    width: 180vh;
    height: 90vh;
    overflow-y: scroll;
}

.MainSection{
    width: 132vh;
    height: auto;
    position: relative;
    top: 4%;
    left: 3%;
    border-radius: 8px;
    border: 1px solid #E5E7E9;
}
.SubNavbar{
    display: flex;
    width: 132vh;
}
.SubNavbarAttributes{
    display: flex;
}
.SubNavbarText{
    display: flex;
    position: relative;
    top: -1%;
    left: 1%;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #3C4858;
}
.SearchInput{
    width: 240px;
    height: 44px;
    background: #F1F2F6;
    border-radius: 8px;
    border: none;
    position: relative;
    margin-top: 1.5vh;
    left: 33%;
    font-size: 18px;
    padding: 0 0 0 15px;
    padding-left: 50px;
    font-family: 'Maven Pro', sans-serif;
}
::placeholder{
    font-family: 'Maven Pro', sans-serif;
    padding-left:-40px ;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #8391A7;
    z-index: -1;
}
.searchIcon{
    font-size: 20px;
    position: relative;
    left: 38%;
    margin-top: 3.5vh;
    z-index: 1;
    color: #797575;
}
.CloudDownloadIcon{
    font-size: 25px;
    position: relative;
    margin-top: 3.5vh;
    left: 37%;
    color: #797575;
    cursor: pointer;
}
.CloudUploadIcon{
    font-size: 25px;
    position: relative;
    top: 3.5vh;
    left: 42%;
    color: #797575;
    cursor: pointer;
}
.Option1{
    width: 40px;
    height: 40px;
    display: flex;
    margin: 10px 0 0 0 ;
    position: relative;;
    margin-top: 4vh;
    left: 47%;
    cursor: pointer;
}
.EachLineForOption1{
    background-color: #797575;
    width: 5px;
    height: 13px;
    margin: 0 1px 0 0;
}
.Option2{
    width: 40px;
    height: 40px;
    margin: 10px 0 0 0;
    position: relative;;
    margin-top: 4vh;
    left: 48%;
    cursor: pointer;
}
.Line1ForOption2{
    background-color: #797575;
    width: 20px;
    height: 2px;
    margin: 0 0 3px 0;
}
.Line2ForOption2{
    background-color: #797575;
    width: 12px;
    height: 2px;
    margin: 0 0 3px 4px;
}
.Line3ForOption2{
    background-color: #797575;
    width: 4px;
    height: 2px;
    margin: 0 0 3px 8px;
}
.AddItemsButton{
    width: 120px;
    height: 45px;
    position: relative;
    left: 48%;
    margin-top: 1.3vh;
    color: #2789E9;
    border: 1px solid #E5E7E9;
    border-radius: 8px;
    font-size: 14px;
    background-color: #ffffff;
    cursor: pointer;
}
/*--------*/
/* -- Main section responsive -- */

@media screen and (max-width:1024px){
    .Container{
        width: 100vw;
        left: 1%;
    }
    .MainSection{
        position: relative;
        width: 98vw;
        left: 0%;
    }
    .SubNavbarText{
        top: -2%;
        left: 1.7%;
    }
    .SearchInput{
        width: 180px;
        margin-top: 1.5vh;
        left: 63%;
        font-size: 18px;
        padding-left: 45px;
    }
    .searchIcon{
        margin-top: 3.2vh;
        left: 70%;
    }
    .AddItemsButton{
        left: 78%;
    }
    .Option2{
        width: 40px;
        height: 40px;
        margin: 3.8vh 0 0 0;
        left: 77%;
    }
    .Option1{
        width: 40px;
        height: 40px;
        margin: 3.8vh 0 0 0;
        left: 77%;
    }
    .CloudDownloadIcon{
        margin-top: 3.2vh;
        left: 68%;
    }
    .CloudUploadIcon{
        top: 3.2vh;
        left: 73%;
    }
}


@media screen and (max-width:768px){
    .Container{
        width: 100vw;
        left: 1%;
        overflow-x: hidden;
    }
    .MainSection{
        position: relative;
        width: 98vw;
        left: 0%;
    }
    .SubNavbarText{
        top: -2%;
        left: 1.7%;
    }
    .SearchInput{
        width: 180px;
        margin-top: 1.5vh;
        left: 27%;
        font-size: 18px;
        padding-left: 45px;
    }
    .searchIcon{
        margin-top: 2.9vh;
        left: 33.5%;
    }
    .AddItemsButton{
        width: 100px;
        height: 45px;
        left: 36%;
        font-size: 13px;
    }
    .Option2{
        margin: 3.3vh 0 0 0;
        left: 38%;
    }
    .Option1{
        margin: 3.3vh 0 0 0;
        left: 39%;
    }
    .CloudDownloadIcon{
        margin-top: 2.7vh;
        left: 30%;
    }
    .CloudUploadIcon{
        top: 2.7vh;
        left: 35%;
    }
}
@media(max-width:502px){
    .Container{
        width: 100vw;
        left: 1%;
        overflow-x: hidden;
    }
    .MainSection{
        width: 98vw;
    }
    .SubNavbarText{
        top: -2%;
        left: 1.7%;
    }
    .SubNavbarAttributes{
        margin-top: 7vh;
        margin-left: -32vh;
    }
    .SearchInput{
        width: 160px;
        left: 27%;
        font-size: 16px;
    }
    .searchIcon{
        margin-top: 3.4vh;
    }
       
}
@media (max-width:414px){
    .Container{
        overflow-x: hidden;
    }
    .MainSection{
        width: 94vw;
        left: 3%;
    }
    .SubNavbarAttributes{
        margin-top: 7vh;
        margin-left: -40vh;
    }
    .SubNavbarText{
        font-size: 16px;
    }
    .SearchInput{
        width: 87px;
        height: 30px;
        margin-top: 2vh;
        left: 57%;
        font-size: 12px;
        padding-left: 45px;
    }
    ::placeholder{
        font-size: 12px;
    }
    .searchIcon{
        margin-top:3.2vh;
        font-size: 15px;
        left: 63.5%;
    }
    .AddItemsButton{
        width: 80px;
        height: 35px;
        left: 67%;
    }
    .Option2{
        left: 67%;
    }
    .Option1{
        left: 68%;
    }
    .CloudDownloadIcon{
        margin-top: 2.9vh;
        font-size: 20px;
        left: 59%;
    }
    .CloudUploadIcon{
        top: 2.9vh;
        left: 63%;
        font-size: 20px;
    }
} 
@media(max-width:380px){
    .Container{
        overflow-x: hidden;
    }
    .SearchInput{
        width: 100px;
        left: 58%;
        font-size: 12px;
        padding-left: 25px;
    }
    .searchIcon{
        left: 64.5%;
    }
    .AddItemsButton{
        left: 66%;
    }
}

@media(max-width:360px){
    .Container{
        overflow-x: hidden;
    }
    .SearchInput{
        width: 80px;
        left: 62%;
        font-size: 12px;
        padding-left: 25px;
    }
    .searchIcon{
        left: 67.5%;
    }
    .AddItemsButton{
        left: 67%;
    }
    .Option2{
        left: 69%;
    }
    .Option1{
        left: 72%;
    }
    .CloudDownloadIcon{
        font-size: 20px;
        left: 64%;
    }
    .CloudUploadIcon{
        left: 68%;
        font-size: 20px;
    }
}
@media(max-width:350px){
    .Container{
        overflow-x: hidden;
    }
}

/*---------*/

/*-- Packaging Attributes -- */
.List-Specification{
    display: flex;
}
.Country{
    position: absolute;
    left: 2%;
    margin-top: 3vh;
    font-size: 15px;
}
.Continent{
    position: absolute;
    left: 27%;
    margin-top: 3vh;
    font-size: 15px;
}
.Category{
    position: absolute;
    left: 45%;
    margin-top: 3vh;
    font-size: 15px;
}
.ListOfCountry{
    list-style: none;
    width: 120vh;
}
.Packaging{
    position: absolute;
    left: 74%;
    margin-top: 3vh;
    font-size: 15px;
    width: auto;
}
/*---------*/
/* -- Packaging Attributes  responsiv --*/
@media screen and (max-width:768px){
    .Country{
        left: 2%;
        font-size: 13px;
    }
    .Continent{
        left: 25%;
        font-size: 13px;
    }
    .Category{
        left: 45%;
        font-size: 13px;
    }
    .Packaging{
        left: 75%;
        font-size: 13px;
    }
}
@media(max-width:414px){
    .Country{
        left: 2%;
        font-size: 13px;
    }
    .Continent{
        left: 30%;
        font-size: 13px;
    }
    .Category{
        font-size: 13px;
        left: 48%;
    }
    .Packaging{
        font-size: 13px;
    }
}
@media(max-width:375px){
    .Country{
        left: 2%;
        margin-top: 3vh;
        font-size: 11px;
    }
    .Continent{
        left: 30%;
        font-size: 11px;
    }
    .Category{
        left: 50%;
        font-size: 11px;
    }
    .Packaging{
        left: 78%;
        font-size: 11px;
    }
}
@media(max-width:380px){
    .Country{
        left: 2%;
        font-size: 11px;
    }
    .Continent{
        left: 29%;
        font-size: 11px;
    }
    .Category{
        font-size: 11px;
    }
    .Packaging{
        font-size: 11px;
    }
}
@media(max-width:360px){
    .Country{
        left: 2%;
        margin-top: 3vh;
    }
    .Continent{
        left: 30%;
    }
    .Category{
        left: 50%;
    }
    .Packaging{
        left: 74%;
    }
}

/*--------*/


/* --  Packaging Attribute -- */
.ListDisplayOfOrders{
    position: relative;
    margin-top: 8vh;
    border-top: 1px solid #E5E7E9;
    height: auto;
    width: 132vh;
}
.ListOfPackage{
    list-style: none;
    width: 126vh;
}
.EachListOfOrders{
    list-style: none;
    position: relative;
    margin-top: 0vh;
    left: -5%;
    cursor: pointer;
    height: 70px;
    width: 132.5vh;
    border-bottom: 1px solid #F2F3F4;
}
.EachListOfOrders > p{
    display: inline-block;
}
.CountryFlag{
    font-size: 20px;
    margin: 21px 10px 0 13px;
}
.CountryFlagInList{
    position: absolute;
    top: 30%;
    left: 2%;
}
.CountryEach{
    position: absolute;
    top:14%;
    left: 6%;
    font-size: 14px;
}
.ContinentEach{
    position: absolute;
    left: 28%;
    top: 14%;
    font-size: 14px;
}
.CategoryEach{
    position: absolute;
    top: 13%;
    left: 44%;
    font-size: 14px;
}
.EachLinePackaging{
    font-size: 14px;
    position: absolute;
    width: auto;
    height: auto;
    margin-top: -20px;
    left: 73%;
}
.EachLinePackaging > p{
    height: 0;
    margin-top: 27px;
}
.DirectDeleteToggleSection{
    position: absolute;
    width: 150px;
    height: 40px;
    left: 96%;
    margin-top: -7vh;
}
.DirectDelete{
    position: absolute;
    top: 3%;
    left: 5%;
    cursor: pointer;
}
.DirectDeletePackage{
    position: absolute;
    left: 32%;
    width: 120px;
    height: 20px;
    box-shadow: 0 0 10px #ccc;
    padding: 10px;
    font-size: 16px;
    display: none;
    margin-top: -1.5vh;
    color: #000;
    cursor: pointer;
}
.DirectDeletePackage:hover{
    transition: ease-in-out 0.5s;
    box-shadow: 0 0 15px rgb(170, 169, 169);
}
/*-----------*/
/* -- Packaging Attributes Responsive --  */
@media screen and (max-width:1024px){
    .ListDisplayOfOrders{
        width: 98vw;
    }
    .ListOfPackage{
        width:98vw;
    }
    .ContinentEach{
        left: 29%;
    }
    .CategoryEach{
        left: 47%;
    }
    .EachLinePackaging{
        left: 76%;
    }
    .DirectDeletePackage{
        margin-left: -16vh;
        margin-top: 4vh;
    }
    .DirectDeleteToggleSection{
        width: 0;
    }
}
@media screen and (max-width:768px){
    .CountryFlagInList{
        margin-left: -1px;
    }
    .CountryEach{
        font-size: 13px;
        left: 5.2%;
    }
    .ContinentEach{
        font-size: 13px;
        left: 21%;
    }
    .CategoryEach{
        font-size: 13px;
        left: 34%;
    }
    .EachLinePackaging{
        font-size: 13px;
        left: 59.5%;
    }
    .DirectDelete{
        display: none;
    }
}
@media(max-width:502px){
    .CountryEach{
        font-size: 13px;
    }
    .ContinentEach{
        font-size: 13px;
        left: 14%;
    }
    .CategoryEach{
        width: 90px;
        font-size: 13px;
        left: 23%;
    }
    .EachLinePackaging{
        top: 30%;
        font-size: 13px;
        left: 39.5%;
    }
    .EachLinePackaging > p{
        margin-top: 17px;
    }
}
@media(max-width:414px){
    .CountryFlagInList{
        margin-top: -4px;
        margin-left: -12px;
    }
    .CountryEach{
        font-size: 12px;
        left: 4.2%;
    }
    .ContinentEach{
        font-size: 12px;
        left: 13%;
    }
    .CategoryEach{
        width: 90px;
        font-size: 12px;
        left: 20%;
    }
    .EachLinePackaging{
        top: 22%;
        font-size: 12px;
        left: 31.5%;
    }
    .EachLinePackaging > p{
        padding:0;
        margin-top: 20px;
    }
}
@media(max-width:375px){
    .CountryFlagInList{
        width: 20px;
        height: 20px;
    }
    .ListDisplayOfOrders{
        width: 94vw;
    }
    .CountryEach{
        font-size: 10px;
        left: 3.2%;
    }
    .ContinentEach{
        font-size: 10px;
        left: 11%;
    }
    .CategoryEach{
        width: 90px;
        font-size: 10px;
        left: 17%;
    }
    .EachLinePackaging{
        top: 40%;
        font-size: 10px;
        left: 29%;
    }
    .EachLinePackaging > p{
        padding:0;
        margin-top: 12px;
    }
}
@media(max-width:380px){
    .CountryFlagInList{
        width: 20px;
        height: 20px;
    }
    .ListDisplayOfOrders{
        width: 94vw;
    }
    .CountryEach{
        font-size: 10px;
        left: 3.2%;
    }
    .ContinentEach{
        font-size: 10px;
        left: 11%;
    }
    .CategoryEach{
        font-size: 10px;
    }
    .EachLinePackaging{
        font-size: 10px;
        left: 29%;
        top:40%;
    }
    .EachLinePackaging > p{
        padding:0;
        margin-top: 12px;
    }
}
@media(max-width:360px){
    .CountryFlagInList{
        width: 20px;
        height: 20px;
    }
    .ListDisplayOfOrders{
        width: 94vw;
    }
    .CountryEach{
        font-size: 10px;
        left: 3.2%;
    }
    .ContinentEach{
        font-size: 10px;
        left: 11%;
    }
    .CategoryEach{
        font-size: 10px;
    }
    .EachLinePackaging{
        left: 27%;
        font-size: 10px;
    }
}

/*---------*/




/* side drawer to add new item */
.SideDrawerForAddNew{
    width: 720px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: 102vh;
    z-index: 200;
    background-color: #fff;
    border: 1px solid #ccc;
    transition:  ease-in-out 0.6s;
}
.AddPackage{
    width: 136px;
    height: 28px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #1C2C40;
    margin: 40px 0 10px 35px;
}
.FormForAddInput{
    margin-top: 30px;
}
.InputElementCountry option{
    width: 720px;
    font-size: 17px;
    padding: 5px 0 5px 20px;
    background-color: #fff;
}
.InputLabel{
    padding: 0;
    margin: 30px 0 7px 33px;
}
#InputElement{
    margin-left: 30px;
    width: 620px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #E5E9F2;
    box-sizing: border-box;
    border-radius: 8px;
}
.PackagingOption{
    font-size: 14px;
    margin: 30px 0 5px 30px;
    padding: 0;
}
.RadioBtnForPackageOption{
    margin: 2px 0 10px 30px;
}
.InputRadioCheck{
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
}
.LabelForInputRadioCheck{
    margin: -23px 0 0 36px;
}
.LowerButtonHandlingSection{
    position: relative;
    top: 14.5%;
    width: 720px;
    height: 85px;
    border-top: 1px solid #E5E9F2;
}
.CancleBtn1{
    position: relative;
    font-size: 19px;
    cursor: pointer;
    top: 13%;
    left: 5%;
    padding: 0;
}
.Addbtn{
    position: relative;
    top: -5vh;
    margin: 0 0 0 80vh;
    font-size: 18px;
    color: #fff;
    width: 96px;
    height: 44px;
    background: #2789E9;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

/* Side Drawrer Responsive */
@media screen and (max-width:1024px){
    .SideDrawerForAddNew{
        width: 720px;
        height: 102vh;
        left: 30%;
    }
}
@media screen and (max-width:768px){
    .SideDrawerForAddNew{
        left: 10%;
    }
    .LowerButtonHandlingSection{
        top: 17.5%;
    }
    .Addbtn{
        margin: -1vh 0 0 80vh;
    }

}
@media(max-width:502px){
    .SideDrawerForAddNew{
        left: 5%;
    }
    #InputElement{
        margin-left: 20px;
        width: 420px;
    }
    .Addbtn{
        margin: -1vh 0 0 50vh;
    }
}
@media(max-width:414px){
    .SideDrawerForAddNew{
        left: 5%;
    }
    .InputLabel{
        font-size: 15px;
        margin: 30px 0 7px 23px;
    }
    #InputElement{
        margin-left: 20px;
        width: 350px;
    }
    .CancleBtn1{
        left: 2%;
    }
    .Addbtn{
        margin: 0 0 0 40vh;
    }
}
@media(max-width:380px){
    #InputElement{
        width: 330px;
    }
    .Addbtn{
        margin: 0 0 0 35vh;
    }
}
@media(max-width:360px){
    #InputElement{
        width: 300px;
    }
    .Addbtn{
        margin: 0 0 0 32vh;
    }
}

/*-----------------*/

/* side drawer from  edit*/
.SideDrawerForEdit{
    width: 720px;
    height: 100vh;
    position: absolute;
    top: 0%;
    left: 50%;
    margin-left: 102vh;
    margin-bottom: 0;
    z-index: 2;
    background-color: #fff;
    border: 1px solid #ccc;
    transition:  ease-in-out 0.6s;
}
.EditPackageText{
    width: 136px;
    height: 28px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #1C2C40;
    margin: 40px 0 10px 35px;
}
.EditPackageCountry{
    width: 136px;
    height: 28px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: #1C2C40;
    margin: 20px 0 10px 35px;
}
.InputElementCategory{
    margin-left: 30px;
    width: 620px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #E5E9F2;
    box-sizing: border-box;
    border-radius: 8px;
}
.LowerButtonHandlingSectionEditSidedrawer{
    position: relative;
    top: 54%;
    margin-top: 24vh;
    width: 720px;
    height: 84px;
    border-top: 1px solid #E5E9F2;
}
.deleteIcon{
    position: relative;
    top: -2vh; 
    left: 20%;
    font-size: 30px;
    cursor: pointer;
}
.Savebtn{
    position: relative;
    top: -4vh;
    margin: 0 0 0 80vh;
    font-size: 18px;
    color: #fff;
    width: 96px;
    height: 44px;
    background: #2789E9;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
.CancleBtn2{
    position: relative;
    font-size: 19px;
    cursor: pointer;
    top: 37%;
    left: 5%;
    padding: 0;
}
.CountryLogo{
    position: relative;
    top: 20%;
    margin-right: 13px;
}
/* Side drawer for edit responsive */
@media screen and (max-width:1024px){
    .SideDrawerForEdit{
        width: 720px;
        height: 102vh;
        left: 30%;
    }
}
@media screen and (max-width:768px){
    .SideDrawerForEdit{
        left: 10%;
    }
    .Savebtn{
        top: -4vh;
        margin: 0 0 0 75vh;
    }
}
@media(max-width:502px){
    .Savebtn{
        margin: 0 0 0 42vh;
    }
    .deleteIcon{
        left: 17%;
    }
    .InputElementCategory{
        width: 410px;
    }
}
@media(max-width:414px){
    .SideDrawerForEdit{
        left: 5%;
    }
    .Savebtn{
        margin: 0 0 0 35vh;
    }
    .InputLabel{
        font-size: 15px;
        margin: 30px 0 7px 23px;
    }
    .InputElementCategory{
        margin-left: 20px;
        width: 350px;
    }
    .CancleBtn2{
        left: 2%;
    }
    .deleteIcon{
        left: 14%;
    }
}
@media(max-width:380px){
    .Savebtn{
        margin: 0 0 0 30vh;
    }
    .InputElementCategory{
        width: 320px;
    }
    .CancleBtn2{
        left: 2%;
    }
}



@media(min-height:709px){
    .AsideSection{
        position: absolute;
        height: 92vh;
        width: 255px;
        top: -2%;
    }
    .Container{
        position: relative;
        width: 60vw;
        left: 35%;
        overflow: visible;
    }
    .MainSection{
        position: relative;
        width: 60vw;
        top: 4%;
        left: 3%;
    }
    .SubNavbar{
        position: relative;
        width: 60vw;
    }

    .SubNavbarText{
        top: 1%;
        left: 2%;
    }
    .SearchInput{
        left: 28%;
        padding-left: 50px;
    }
    .searchIcon{
        font-size: 23px;
        left: 35%;
        margin-top: 2.9vh;
    }
    .CloudDownloadIcon{
        margin-top: 3vh;
        left: 30%;
    }
    .CloudUploadIcon{
        top: 3vh;
        left: 32%;
    }
    .Option1{
        margin-top: 3.5vh;
        left: 35%;
    }
    .EachLineForOption1{
        background-color: #797575;
        width: 5px;
        height: 13px;
        margin: 0 1px 0 0;
    }
    .Option2{
        margin-top: 3.5vh;
        left: 33%;
    }
    .AddItemsButton{
        left: 33%;
        font-size: 14px;
    }
    .ListDisplayOfOrders{
        margin-top: 8vh;
        width: 60vw;
    }
    .Country{
        left: 2.4%;
    }
    .Continent{
        left: 30%;
    }
    .Category{
        left: 48%;
    }
    .Packaging{
        left: 74%;
    }
    .SideDrawerForAddNew{
        width: 680px;
        left: 54%;
    }
    .LowerButtonHandlingSection{
        top: 30.5%;
        width: 680px;
    }
    .Addbtn{
        margin: 1vh 0 0 61vh;
    }
    .ListDisplayOfOrders{
        position: relative;
        margin-top: 8vh;
        border-top: 1px solid #E5E7E9;
        height: auto;
        width: 60vw;
    }
    .ListElements{
        width: 60vw;
    }
    .ListOfPackage{
        list-style: none;
        width: 60vw;
    }
    .EachListOfOrders{
        width: 60vw;
        left: -3.8%;
        border-bottom: 1px solid #F2F3F4;
    }
    .EachListOfOrders > p{
        display: inline-block;
    }
    .CountryFlagInList{
        left: 2%;
    }
    .CountryEach{
        left: 6%;
    }
    .ContinentEach{
        left: 30.5%;
    }
    .CategoryEach{
        left: 46.5%;
    }
    .EachLinePackaging{
        top: -20%;
        left: 72%;
    }
    .EachLinePackaging > p{
        margin-top: 26px;
    }
    .DirectDeleteToggleSection{
        margin-top: -6vh;
    }
    .SideDrawerForEdit{
        width: 680px;
        left: 54%;
    }
    .LowerButtonHandlingSectionEditSidedrawer{
        margin-top: 40vh;
    }
    .CancleBtn2{
        top: 23%;
    }
    .Savebtn{
        margin: 0 0 0 57vh;
    }
    .deleteIcon{
        top: -3vh;
    }
}


/*---------------*/